<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
    <div class="overlay-modal1 js-hide-modal1"
        style="background: url(/public/img/manga_banner/log.jpg) fixed no-repeat center/cover  ;"></div>
    <div class="container">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div id="form">
                        <div class="tit_form">
                            <h3>Join Yae Manga House Now</h3>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email
                                address</label>
                            <input type="email" data-validation="email" data-content="Email has a invalid format"
                                class="form-control" name="email" id="email">
                            <div class="form_text">We'll never share
                                your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="remember">Remember me</label>
                        </div>
                        <button id="btn_login" class="modal_btn text-center">Submit</button>
                        <div class="form_icons">
                            <div class="icon_tit">Sign in with social account</div>
                            <ul class="d-flex flex-wrap text-center justify-content-center ">
                                <li class="goo"><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li class="fac"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li class="twi"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li class="ins"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li class="pat"><a href="#"><i class="fa-brands fa-patreon"></i></a></li>
                            </ul>
                            <div class="icon_tit">Or</div>
                            <div class="icon_tit"><a class="text-white" href="/register" style="font-size: 1rem;">Create an account?</a></div>
                            <div class="icon_tit">Or</div>
                            <div class="icon_tit"><a class="text-white" href="/forgot-password" style="font-size: 1rem;">Forgot password</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>