<nav>
    <ul id="navigation">
        <li><a href="index.html">Home</a></li>
        <li><a href="genres.html">Genres</a></li>
        <li><a href="manga_all.html">Latest Manga</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a class="js-show-modal1" href="#"><i class="fa-regular fa-user"></i>
                Login/Sign Up</a></li>
    </ul>
</nav>