<nav>
    <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/blog">Blog</a></li>
        <li id="nav_login"><a class="js-show-modal1" href="#"><i class="fa-regular fa-user"></i>
                Login/Sign Up</a></li>
        <li id="nav_profile"></li>
        <li id="nav_logout"><a class="nav-link" id="btn_logout">Logout</a></li>
    </ul>
</nav>