<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yae Manga House - Anime Manga or Comic and Game Blog Website Template</title>
    <link rel="icon" href="/public/img/logo/favicon.ico">

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/slicknav.css">
    <link rel="stylesheet" href="/public/css/acmeticker.css">
    <link rel="stylesheet" href="/public/css/star-rating.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/slick.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <div class="wrap">
        <canvas id="sakura"></canvas>
    </div>

    <%- include('partials/preloader') %>
    
    <%- include('partials/header') %>

    <section class="blog_area pt-30 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3 class="text-uppercase">News Feed</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe
                                    src="https://www.youtube.com/embed/AcTUi59vw_E"
                                    title="YouTube video player"
                                    allow="accelerometer; autoplay;
                                    clipboard-write; encrypted-media;
                                    gyroscope; picture-in-picture;
                                    web-share" allowfullscreen></iframe>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block"
                                    href="single-blog.html">
                                    <h2>Version 3.5 "Windblume's Breath"
                                        Trailer | Genshin Impact</h2>
                                </a>
                                <p>Some say fate hides in the wind, like the
                                    fragrance of flowers, like rain and
                                    dew...
                                    Such is the law of nature, absolute and
                                    insurmountable.
                                    Others, on the other hand, strive to
                                    seek out their own destinies, or even go
                                    as far as to reweave the threads of
                                    fate.
                                    But at the end of it all, is this not an
                                    orchestration of fate?</p>
                                <ul class="blog-info-link">
                                    <li>Game Info :<a href="#"><i
                                                class="fa-solid fa-link"></i>Genshin
                                            Impact</a></li>
                                    <li>Company Profile :<a href="#"><i
                                                class="fa-solid fa-link"></i>miHoYo</a></li>
                                    <li><a href="#"><i class="fa-regular
                                                fa-comments"></i> 03
                                            Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0"
                                    src="https://yae.hifive03.com/assets/img/blog/single_blog_1.png"
                                    alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block"
                                    href="single-blog.html">
                                    <h2>Genshin Impact version 3.5 update
                                        ‘Windblume’s Breath’ launches March
                                        1</h2>
                                </a>
                                <p>As springtime approaches the City of
                                    Mondstadt, the Windblume Festival
                                    returns with more challenges, rewards,
                                    and reunions for people to rejoice with
                                    the spirit of love and freedom.
                                    Mini-games, including the rhythm game
                                    “Ballads of Breeze,” the maze chase game
                                    “Floral Pursuit,” and the photo-touring
                                    mode “Breezy Snapshots,” will be
                                    available for a limited time. The
                                    festival will also welcome foreign
                                    guests from faraway Sumeru. As Collei
                                    revisits Mondstadt with Tighnari and
                                    Cyno, an adventure surrounding a
                                    mysterious prophecy will begin.
                                </p>
                                <ul class="blog-info-link">
                                    <li>Game Info :<a href="#"><i
                                                class="fa-solid fa-link"></i>Genshin
                                            Impact</a></li>
                                    <li>Company Profile :<a href="#"><i
                                                class="fa-solid fa-link"></i>miHoYo</a></li>
                                    <li><a href="#"><i class="fa-regular
                                                fa-comments"></i> 03
                                            Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe
                                    src="https://www.youtube.com/embed/d1OANwZ29ww"
                                    title="YouTube video player"
                                    allow="accelerometer; autoplay;
                                    clipboard-write; encrypted-media;
                                    gyroscope; picture-in-picture;
                                    web-share" allowfullscreen></iframe>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block"
                                    href="single-blog.html">
                                    <h2>Story Teaser: Echoes of the Heart |
                                        Genshin Impact</h2>
                                </a>
                                <p>Fleeting like transient clouds, adrift
                                    like floating weeds.
                                    The gentle stream trickles by, cleansing
                                    fallen dust.
                                    Cloud Retainer - Stephanie Panisello
                                    Streetward Rambler</p>
                                <ul class="blog-info-link">
                                    <li>Game Info :<a href="#"><i
                                                class="fa-solid fa-link"></i>Genshin
                                            Impact</a></li>
                                    <li>Company Profile :<a href="#"><i
                                                class="fa-solid fa-link"></i>miHoYo</a></li>
                                    <li><a href="#"><i class="fa-regular
                                                fa-comments"></i> 03
                                            Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0"
                                    src="https://yae.hifive03.com/assets/img/blog/single_blog_2.png"
                                    alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block"
                                    href="single-blog.html">
                                    <h2>Genshin Impact Confirms Dehya Will
                                        Join The Standard Banner After
                                        Update 3.5</h2>
                                </a>
                                <p>Genshin Impact's livestream event for
                                    version 3.5 confirms that the new
                                    five-star character Dehya will join the
                                    Standard Banner after the update ends.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="ti-user"></i>
                                            Travel, Lifestyle</a></li>
                                    <li><a href="#"><i
                                                class="ti-comment-alt"></i>
                                            03 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe
                                    src="https://www.youtube.com/embed/mvS9QaiJ0GE"
                                    title="YouTube video player"
                                    allow="accelerometer; autoplay;
                                    clipboard-write; encrypted-media;
                                    gyroscope; picture-in-picture;
                                    web-share" allowfullscreen></iframe>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block"
                                    href="single-blog.html">
                                    <h2>Genshin Impact New anime music
                                        video! This video is based on the
                                        Genshin teaser: “Legacies in the
                                        Sand”</h2>
                                </a>
                                <p>Here comes our new Genshin Impact anime
                                    music video! This video is based on the
                                    Genshin teaser: “Legacies in the Sand”
                                    video, starting from the time when the
                                    Scarlet King, King Deshret founded his
                                    dynasty → the disaster happened → King
                                    Deshret sacrificed himself → Greater
                                    Lord Rukkhadevata lost part of her power
                                    → the birth of the Lesser Lord Kusanali.
                                    There is a lot of information in this
                                    video, and of course, we have made many
                                    adaptions and re-creations to spice it
                                    up. It’s kind of pitiful that we did not
                                    include some of the follow-up stories of
                                    King Deshret and Flower God's Artifact
                                    stories and how King Deshret eventually
                                    unleashed the forbidden knowledge upon
                                    the world since the storyboard was
                                    created during the 3.1 version
                                    update.....</p>
                                <ul class="blog-info-link">
                                    <li>Game Info :<a href="#"><i
                                                class="fa-solid fa-link"></i>Genshin
                                            Impact</a></li>
                                    <li>Company Profile :<a href="#"><i
                                                class="fa-solid fa-link"></i>miHoYo</a></li>
                                    <li><a href="#"><i class="fa-regular
                                                fa-comments"></i> 03
                                            Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0"
                                    src="https://yae.hifive03.com/assets/img/blog/single_blog_3.png"
                                    alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block"
                                    href="single-blog.html">
                                    <h2>Genshin Impact Fan-Art Equips
                                        Dainsleif With Lisa’s New Outfit</h2>
                                </a>
                                <p>A Genshin Impact player shares a concept
                                    in which they managed to combine Lisa's
                                    recently released outfit with
                                    Dainsleif's character model.</p>
                                <ul class="blog-info-link">
                                    <li>Game Info :<a href="#"><i
                                                class="fa-solid fa-link"></i>Genshin
                                            Impact</a></li>
                                    <li>Company Profile :<a href="#"><i
                                                class="fa-solid fa-link"></i>miHoYo</a></li>
                                    <li><a href="#"><i class="fa-regular
                                                fa-comments"></i> 03
                                            Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        <nav class="blog-pagination justify-content-center
                            d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link"
                                        aria-label="Previous">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item ">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link"
                                        aria-label="Next">
                                        <i class="fa-solid
                                            fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text"
                                            class="form-control"
                                            placeholder='Search Keyword'
                                            onfocus="if
                                            (!window.__cfRLUnblockHandlers)
                                            return false; this.placeholder=
                                            ''" onblur="if
                                            (!window.__cfRLUnblockHandlers)
                                            return false; this.placeholder=
                                            'Search Keyword'"
                                            data-cf-modified-96ebd54b2b925230ebb2b147-="">
                                        <div class="input-group-append">
                                            <button class="btns"
                                                type="button"><i
                                                    class="fa-solid
                                                    fa-magnifying-glass"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg
                                    text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>
                        <aside class="single_sidebar_widget
                            post_category_widget">
                            <div class="section-tittle mb-30">
                                <h3 class="text-uppercase">Category</h3>
                            </div>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Action</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Adventure</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Drama</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Fantasy</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Parody</p>
                                        <p>(55)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Romance</p>
                                        <p>(09)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget
                            popular_post_widget">
                            <div class="section-tittle mb-30">
                                <h3 class="text-uppercase">Recent Post</h3>
                            </div>
                            <div class="media post_item">
                                <img
                                    src="https://yae.hifive03.com/assets/img/blog/post_1.png"
                                    alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Version 3.5 "Windblume's Breath"
                                            Trailer</h3>
                                    </a>
                                    <p>January 25, 2023</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img
                                    src="https://yae.hifive03.com/assets/img/blog/post_2.png"
                                    alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Genshin Impact version 3.5
                                            update ‘Windblume’s Breath’
                                        </h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img
                                    src="https://yae.hifive03.com/assets/img/blog/post_3.png"
                                    alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Story Teaser: Echoes of the
                                            Heart | Genshin Impact</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img
                                    src="https://yae.hifive03.com/assets/img/blog/post_4.png"
                                    alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Genshin Impact Confirms Dehya
                                            Will Join The Standard Banner
                                            After Update 3.5</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget
                            tag_cloud_widget">
                            <div class="section-tittle mb-30">
                                <h3 class="text-uppercase">Tag Clouds</h3>
                            </div>
                            <ul class="list">
                                <li>
                                    <a href="#">Anime</a>
                                </li>
                                <li>
                                    <a href="#">Online</a>
                                </li>
                                <li>
                                    <a href="#">Game</a>
                                </li>
                                <li>
                                    <a href="#">Event</a>
                                </li>
                                <li>
                                    <a href="#">Season</a>
                                </li>
                                <li>
                                    <a href="#">Episode</a>
                                </li>
                                <li>
                                    <a href="#">World</a>
                                </li>
                                <li>
                                    <a href="#">Cartoon</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget
                            instagram_feeds">
                            <div class="section-tittle mb-30">
                                <h3 class="text-uppercase">Instagram Feeds</h3>
                            </div>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid"
                                            src="https://yae.hifive03.com/assets/img/blog/social_post1.png"
                                            alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid"
                                            src="https://yae.hifive03.com/assets/img/blog/social_post2.png"
                                            alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid"
                                            src="https://yae.hifive03.com/assets/img/blog/social_post3.png"
                                            alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid"
                                            src="https://yae.hifive03.com/assets/img/blog/social_post4.png"
                                            alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid"
                                            src="https://yae.hifive03.com/assets/img/blog/social_post5.png"
                                            alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid"
                                            src="https://yae.hifive03.com/assets/img/blog/social_post6.png"
                                            alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget
                            newsletter_widget">
                            <div class="section-tittle mb-30">
                                <h3 class="text-uppercase">Newsletter</h3>
                            </div>
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control"
                                        placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg
                                    text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>

    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"
            style="background: url(/public/img/manga_banner/log.jpg) fixed no-repeat center/cover  ;"></div>
        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <form id="form" novalidate action="#" method="post">
                            <div class="tit_form">
                                <h3>Join Yae Manga House Now</h3>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email
                                    address</label>
                                <input type="email" data-validation="email" data-content="Email has a invalid format"
                                    class="form-control" name="email" id="email">
                                <div class="form_text">We'll never share
                                    your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="modal_btn text-center">Submit</button>
                            <div class="form_icons">
                                <div class="icon_tit">Sign in with social account</div>
                                <ul class="d-flex flex-wrap text-center justify-content-center ">
                                    <li class="goo"><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                    <li class="fac"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li class="twi"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li class="ins"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li class="pat"><a href="#"><i class="fa-brands fa-patreon"></i></a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/jquery-3.6.0.min.js"></script>

    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/popper.min.js"></script>

    <script src="/public/js/jquery.slicknav.min.js"></script>

    <script src="/public/js/slick.min.js"></script>

    <script src="/public/js/form_validation.js"></script>
    <script>
        $(document).ready(function() {
            $("#form").xvalidation({
                theme: "materialize"
            });
            $("#form").submit(function(evt) {
                evt.preventDefault();
                evt.stopPropagation();
                if ($("#form").data().xvalidation.methods.validate()) {
                    swal("Thanks!", "We Will Contact You Soon", "success");
                }
                return false;
            });
        });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">
    </script>

    <script src="/public/js/star-rating.min.js"></script>

    <script src="/public/js/fontawsome.js"></script>

    <script src="/public/js/jquery.magnific-popup.js"></script>

    <script src="/public/js/acmeticker.min.js"></script>

    <script src="/public/js/jquery.scrollUp.min.js"></script>

    <script src="/public/js/main.js"></script>
    <script src="/public/js/rocket-loader.min.js"
        data-cf-settings="6899e26392dbd83045de8357-|49" defer=""></script>
    <script>
        (function() {
            var js =
                "window['__CF$cv$params']={r:'7b51b7b9a923493b',m:'H5zf8GoKi9.vXlvNxoVyc2b1BBSQAb8aLQs.lEQZias-1681032483-0-AfOs5vGh4K+EhDCvClXQN+rgW53vNAqVrPTB5tIv/+3un13wLn2TBKeMwba7EutMaaAk3exjUCFQWPfKIdYIhLpTVkMB9FXBkVByComfzsvWY9JP6gzevixF0OQJlx1N2g==',s:[0xe03e24a587,0x210fe112c8],u:'/cdn-cgi/challenge-platform/h/b'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/h/b/scripts/alpha/invisible.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";
            var _0xh = document.createElement('iframe');
            _0xh.height = 1;
            _0xh.width = 1;
            _0xh.style.position = 'absolute';
            _0xh.style.top = 0;
            _0xh.style.left = 0;
            _0xh.style.border = 'none';
            _0xh.style.visibility = 'hidden';
            document.body.appendChild(_0xh);

            function handler() {
                var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
                if (_0xi) {
                    var _0xj = _0xi.createElement('script');
                    _0xj.nonce = '';
                    _0xj.innerHTML = js;
                    _0xi.getElementsByTagName('head')[0].appendChild(_0xj);
                }
            }
            if (document.readyState !== 'loading') {
                handler();
            } else if (window.addEventListener) {
                document.addEventListener('DOMContentLoaded', handler);
            } else {
                var prev = document.onreadystatechange || function() {};
                document.onreadystatechange = function(e) {
                    prev(e);
                    if (document.readyState !== 'loading') {
                        document.onreadystatechange = prev;
                        handler();
                    }
                };
            }
        })();
    </script>
</body>

</html>